.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.home__social-icon:hover {
  color: var(--title-color-dark);
}

/* breakpoints */
/* md devices */
@media screen and (max-width: 768px) {
  .home__social {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: row;
    padding: 0 14rem;
  }

  .home__social-icon {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
  }
}
